.main-draft-bans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-radius: 3px;
    border: solid 2px black;
    border-top: none;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background-color: #ff9292;
    border-radius:0 0 5px 5px;
    flex: 1;
}
/* .bans-left {
    background-color: #3C91F4;
}
.bans-right {
    background-color: #FE7878;
} */
.bans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    flex: 4;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.ban {
    flex: 2;
    width: 100%;
    height: 100%;
    border: solid 2px #171717;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    background-color: #1a1a1ae1;
    border: 2px solid black;
    border-radius: 5px;
}

.bans-left {
    background-color: #60a9fc;
}
.bans-right {
    background-color: #ff9292;
}

.ban-img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}
.ban-champ-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.space {
    flex: 0.4;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
}

.btn-lock-container{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #60a9fc, #ff9292);

}
.btn-lock {
    width: 150px;
    height: 60px;
    font-family: "Rubik", sans-serif;
    font-size: 1.7rem;
    background-color: rgb(228, 228, 228, 1);
    border: 2px solid black;
    height: 50px;
    border-radius: 5px;
    box-shadow: #1A1A1A 0px 4px 0 0;
    color: #1A1A1A;
    cursor: pointer;
    display: inline-block;
    font-weight: 800;
    padding: 0 18px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: ease all .1s;
    width: 100%;
}

.btn-lock:hover {
    color: rgba(228, 228, 228, 1);
    background-color: #1A1A1A;
    box-shadow:rgb(228, 228, 228, 1) 0px 2px 0 0;
    border: 2px solid black;
    transform: translate(2px, 2px);
}