:root {
    color-scheme: dark;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    /* Establece el alto de .content como 100% del viewport height */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    /* Asegura que el texto esté centrado horizontalmente */
}


.team1-grid {
    display: flex;
    flex-direction: column;
    width: 510px
}

.team2-grid {
    display: flex;
    flex-direction: column;
    width: 510px;
}

.teams-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    height:min-content;
}

.teams-item text {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    color: white;
    margin-bottom: 5px;
    /* Espacio entre las etiquetas de texto */
}

.teams-card {
    
}

.teams-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.champion-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 900px;
}

.champion-card {
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    max-width:20%;
}


.champion-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.champion-card p {
    margin: 0;
}

.champion-card p:first-child {
    font-weight: bold;
}

.champion-card img:hover {
    transform: scale(1.1);
}

/* Ejemplo de estilo para la imagen del campeón */
.champion-card img {
    width: 100px;
    /* Ajusta el tamaño según sea necesario */
    height: 100px;
    /* Un borde blanco alrededor de la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Sombra para resaltar la imagen */
}